.repos {
  padding: 80px 20px;
  background: linear-gradient(180deg, #1a1a1a, #000000);
  color: white;

  h2 {
    font-size: 40px;
    font-weight: bold;
    color: rebeccapurple;
    letter-spacing: 5px;
    margin-bottom: 40px;
    text-align: center;
  }

  .category {
    margin-bottom: 40px;

    h3 {
      font-size: 28px;
      font-weight: bold;
      color: rebeccapurple;
      margin-bottom: 20px;
    }

    .repoGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }

    .repoCard {
      background: #2a2a2a;
      border-radius: 10px;
      padding: 20px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      }

      h4 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        color: rebeccapurple;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
        color: #ccc;
      }

      .repoLink {
        display: inline-block;
        padding: 10px 20px;
        background: rebeccapurple;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background 0.3s ease;

      }
    }
  }

  .loading,
  .error {
    font-size: 18px;
    color: white;
    text-align: center;
  }
}